* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: #ffffff;
}

/* container */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: absolute;
  width: 1080px;
  height: 794px;
  left: 215px;
  top: 115px;
  background-color: #f7f7f7;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  width: 417px;
  height: 794px;
  background: #003F88;
  border-radius: 20px;
  padding: 63px;
  text-align: center;
  gap: 70px;
}

.info-pessoais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.foto-perfil {
  width: 158px;
  height: 160px;
  border-radius: 50%;
}

.nome-perfil {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 4px;
}

.info-pessoais span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

/* rede social */
.rede-social-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 60px;
}

.item i:hover {
  color: #002855;
}

.fa-brands {
  font-size: 45px;
  color: #ffffff;
}

.rede-social-container span {
  font-size: 24px;
  color: #ffffff;
}

.imersao {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.imersao:hover {
  color: #002855;
}

/* projetos */
.projetos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 120px;
  gap: 40px;
}

.subtitulo {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #00296b;
}

.projetos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projetos a {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #00509d;
}

.projetos a:hover {
  color: #90e0ef;
}